.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1657858.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 681px;
}

.u-section-1 .u-text-1 {
  margin: 61px 639px 0 76px;
}

.u-section-1 .u-list-1 {
  min-height: 419px;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-template-rows: auto;
  width: 481px;
  grid-gap: 30px 30px;
  height: auto;
  margin: 16px 0 60px auto;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 33px -11px 0 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  margin: 33px -11px 0 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.4);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
  font-weight: normal;
  margin: 33px -11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 151px;
    margin-right: 515px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 183px;
    width: 489px;
    margin-right: 289px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 662px;
    margin-right: 295px;
  }

  .u-section-1 .u-list-1 {
    margin-right: auto;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 115px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 811px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    width: 340px;
    margin-top: -158px;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}